<!--header area start-->
<!--offcanvas menu area start-->
<div class="off_canvars_overlay"></div>
<div class="offcanvas_menu">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="canvas_open">
               <a href="javascript:void(0)">
                  <i class="ion-navicon"></i>
               </a>
            </div>
            <div class="offcanvas_menu_wrapper">
               <div class="canvas_close">
                  <a href="javascript:void(0)">
                     <i class="ion-android-close"></i>
                  </a>
               </div>
               <div class="call_support">
                  <p>
                     <i class="icon-phone-call" aria-hidden="true"></i>
                     <span>Call us: <a href="tel:0123456789">0123456789</a>
                     </span>
                  </p>
               </div>
               <div class="header_account">
                  <ul>
                     <li class="language">
                        <a href="index.html#">
                           <img src="assets/img/logo/language.png" alt=""> english <i class="ion-chevron-down"></i>
                        </a>
                        <ul class="dropdown_language">
                           <li>
                              <a href="index.html#">English</a>
                           </li>
                           <li>
                              <a href="index.html#">Germany</a>
                           </li>
                           <li>
                              <a href="index.html#">Japanese</a>
                           </li>
                        </ul>
                     </li>
                     <li class="currency">
                        <a href="index.html#">USD <i class="ion-chevron-down"></i>
                        </a>
                        <ul class="dropdown_currency">
                           <li>
                              <a href="index.html#">EUR – Euro</a>
                           </li>
                           <li>
                              <a href="index.html#">GBP – British Pound</a>
                           </li>
                           <li>
                              <a href="index.html#">INR – India Rupee</a>
                           </li>
                        </ul>
                     </li>
                  </ul>
               </div>
               <div class="header_top_links">
                  <ul>
                     <li>
                        <a href="login.html">Register</a>
                     </li>
                     <li>
                        <a href="login.html">login</a>
                     </li>
                     <li>
                        <a href="cart.html">Shopping Cart</a>
                     </li>
                     <li>
                        <a href="checkout.html">Checkout</a>
                     </li>
                  </ul>
               </div>
               <div class="search_container">
                  <form action="{% url "search" %}" method='get'>
                     <div class="search_box">
                        <input placeholder="Поиск товара..." name='q' type="text">
                        <button type="submit">Поиск</button>
                     </div>
                  </form>
               </div>
               <div id="menu" class="text-left ">
                  <ul class="offcanvas_main_menu">
                     <li class="menu-item-has-children active">
                        <a href="{% url "home" %}">Главная</a>
                     </li>
                     <li class="menu-item-has-children">
                        <a href="index.html#">Shop</a>
                        <ul class="sub-menu">
                           <li class="menu-item-has-children">
                              <a href="index.html#">Shop Layouts</a>
                              <ul class="sub-menu">
                                 <li>
                                    <a href="shop.html">shop</a>
                                 </li>
                                 <li>
                                    <a href="shop-fullwidth.html">Full Width</a>
                                 </li>
                                 <li>
                                    <a href="shop-fullwidth-list.html">Full Width list</a>
                                 </li>
                                 <li>
                                    <a href="shop-right-sidebar.html">Right Sidebar </a>
                                 </li>
                                 <li>
                                    <a href="shop-right-sidebar-list.html"> Right Sidebar list</a>
                                 </li>
                                 <li>
                                    <a href="shop-list.html">List View</a>
                                 </li>
                              </ul>
                           </li>
                           <li class="menu-item-has-children">
                              <a href="index.html#">other Pages</a>
                              <ul class="sub-menu">
                                 <li>
                                    <a href="cart.html">cart</a>
                                 </li>
                                 <li>
                                    <a href="wishlist.html">Wishlist</a>
                                 </li>
                                 <li>
                                    <a href="checkout.html">Checkout</a>
                                 </li>
                                 <li>
                                    <a href="my-account.html">my account</a>
                                 </li>
                                 <li>
                                    <a href="404.html">Error 404</a>
                                 </li>
                              </ul>
                           </li>
                           <li class="menu-item-has-children">
                              <a href="index.html#">Product Types</a>
                              <ul class="sub-menu">
                                 <li>
                                    <a href="product-details.html">product details</a>
                                 </li>
                                 <li>
                                    <a href="product-sidebar.html">product sidebar</a>
                                 </li>
                                 <li>
                                    <a href="product-grouped.html">product grouped</a>
                                 </li>
                                 <li>
                                    <a href="variable-product.html">product variable</a>
                                 </li>
                                 <li>
                                    <a href="product-countdown.html">product countdown</a>
                                 </li>
                              </ul>
                           </li>
                        </ul>
                     </li>
                     <li class="menu-item-has-children">
                        <a href="{% url "blog" %}">Блог</a>
                     </li>
                     <li class="menu-item-has-children">
                        <a href="index.html#">pages </a>
                        <ul class="sub-menu">
                           <li>
                              <a href="about.html">About Us</a>
                           </li>
                           <li>
                              <a href="faq.html">Frequently Questions</a>
                           </li>
                           <li>
                              <a href="contact.html">contact</a>
                           </li>
                           <li>
                              <a href="login.html">login</a>
                           </li>
                           <li>
                              <a href="404.html">Error 404</a>
                           </li>
                           <li>
                              <a href="compare.html">compare</a>
                           </li>
                           <li>
                              <a href="privacy-policy.html">privacy policy</a>
                           </li>
                           <li>
                              <a href="coming-soon.html">coming soon</a>
                           </li>
                        </ul>
                     </li>
                     <li class="menu-item-has-children">
                        <a href="my-account.html">my account</a>
                     </li>
                     <li class="menu-item-has-children">
                        <a href="{% url "about" %}">О нас</a>
                     </li>
                     <li class="menu-item-has-children">
                        <a href="{% url "contact" %}">Контакты</a>
                     </li>
                  </ul>
               </div>
               <div class="offcanvas_footer">
                  <span>
                     <a href="index.html#">
                        <i class="fa fa-envelope-o"></i> info@yourdomain.com </a>
                  </span>
                  <ul>
                     <li class="facebook">
                        <a href="index.html#">
                           <i class="fa fa-facebook"></i>
                        </a>
                     </li>
                     <li class="twitter">
                        <a href="index.html#">
                           <i class="fa fa-twitter"></i>
                        </a>
                     </li>
                     <li class="pinterest">
                        <a href="index.html#">
                           <i class="fa fa-pinterest-p"></i>
                        </a>
                     </li>
                     <li class="google-plus">
                        <a href="index.html#">
                           <i class="fa fa-google-plus"></i>
                        </a>
                     </li>
                     <li class="linkedin">
                        <a href="index.html#">
                           <i class="fa fa-linkedin"></i>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!--offcanvas menu area end-->
<header>
   <div class="main_header">
      <!--header top start-->
      <div class="header_top">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-lg-4 col-md-5">
                  <div class="header_account">
                     <ul>
                        <li class="language">
                           <a href="index.html#">
                              <img src="assets/img/logo/language.png" alt=""> english <i class="ion-chevron-down"></i>
                           </a>
                           <ul class="dropdown_language">
                              <li>
                                 <a href="index.html#">English</a>
                              </li>
                              <li>
                                 <a href="index.html#">Germany</a>
                              </li>
                              <li>
                                 <a href="index.html#">Japanese</a>
                              </li>
                           </ul>
                        </li>
                        <li class="currency">
                           <a href="index.html#">USD <i class="ion-chevron-down"></i>
                           </a>
                           <ul class="dropdown_currency">
                              <li>
                                 <a href="index.html#">EUR – Euro</a>
                              </li>
                              <li>
                                 <a href="index.html#">GBP – British Pound</a>
                              </li>
                              <li>
                                 <a href="index.html#">INR – India Rupee</a>
                              </li>
                           </ul>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-8 col-md-7">
                  <div class="header_top_links text-right">
                     <ul>
                        <li>
                           <a href="login.html">Register</a>
                        </li>
                        <li>
                           <a href="login.html">login</a>
                        </li>
                        <li>
                           <a href="cart.html">Shopping Cart</a>
                        </li>
                        <li>
                           <a href="checkout.html">Checkout</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--header top start-->
      <!--header middel start-->
      <div class="header_middle">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                  <div class="logo">
                     <a href="index.html">
                        <img src="assets/img/logo/logo.png" alt="">
                     </a>
                  </div>
               </div>
               <div class="col-lg-10 col-md-6 col-sm-6 col-6">
                  <div class="header_right_box">
                     <div class="search_container">
                        <form action="{% url "search" %}" method='get'>
                           <div class="search_box">
                              <input placeholder="Поиск товара..." name='q' type="text">
                              <button type="submit">Поиск</button>
                           </div>
                        </form>
                     </div>
                     <div class="header_configure_area">
                        <div class="header_wishlist">
                           <a href="{% url "wishlist" %}">
                              <i class="icon-heart"></i>
                              {% if wishlist.total_items > 0 %}
                              <span class="wishlist_count">{{wishlist.total_items}}</span>
                              {% endif %}
                           </a>
                        </div>
                        <div class="mini_cart_wrapper">
                           <a href="javascript:void(0)">
                              <i class="icon-shopping-bag2"></i>
                              {% if cart.total_price %}
                              <span class="cart_price">{{cart.total_price}} сом
                                 <i class="ion-ios-arrow-down"></i>
                              </span>
                              {% endif %}

                              {% if cart.total_quantity > 0 %}
                              <span class="cart_count">{{cart.total_quantity}}</span>
                              {% endif %}
                           </a>
                           <!--mini cart-->
                           <div class="mini_cart">
                              <div class="mini_cart_inner">
                                 <div class="cart_close">
                                    <div class="cart_text">
                                       <h3>Корзина</h3>
                                    </div>
                                    <div class="mini_cart_close">
                                       <a href="javascript:void(0)">
                                          <i class="icon-x"></i>
                                       </a>
                                    </div>
                                 </div>

                                 {% for item in cart_items %}
                                 <div class="cart_item">
                                    <div class="cart_img">
                                       <a href="#">
                                          {% if item.product.get_main_image %}
                                          <img src="{{item.product.get_main_image.image.url}}" alt="">
                                          {% else %}
                                          <img src="https://nazarnews.org/media/news_images/2020/05/27/NazarNews_49563553593097062998281876513878573893.jpg" alt="нет фото">
                                          {% endif %}
                                       </a>
                                    </div>
                                    <div class="cart_info">
                                       <a href="#">{{item.product.name}}</a>
                                       <p>Кол-во: {{item.quantity}} X <span> {{item.price}} </span>
                                       </p>
                                    </div>
                                    <div class="cart_remove">
                                       <form action='{% url "remove_from_cart" item.id %}' method='post'>
                                        {% csrf_token %}
                                        <button type="submit">X</button>
                                       </form>
                                    </div>
                                 </div>
                                 {% empty %}
                                 <p>Корзина пустая</p>
                                 {% endfor %}

                                 <div class="mini_cart_table"> 
                                    <div class="cart_total mt-10">
                                       <span>Сумма:</span>
                                       <span class="price">{{cart.total_price}} сом</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="mini_cart_footer">
                                 <div class="cart_button">
                                    <a href="{% url "cart_detail" %}">Посмотреть корзину</a>
                                 </div> 
                              </div>
                           </div>
                           <!--mini cart end-->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--header middel end-->
      <!--header bottom satrt-->
      <div class="header_bottom sticky-header">
         <div class="container">
            <div class="row align-items-center">
               <div class=" col-lg-3">
                  <div class="categories_menu">
                     <div class="categories_title">
                        <h2 class="categori_toggle">Все категории</h2>
                     </div>
                     <div class="categories_menu_toggle">
                        <ul> {% for category in categories %} 
                           <li class="
                                    {% if category.get_children.exists %}menu_item_children{% endif %}
                                    {% if forloop.counter > category_limit %}hidden{% endif %}">
                              <a href="{% url "category" category.slug %}">
                                 {{category.name}} 
                                 {% if category.get_children.exists %} 
                                 <i class="fa fa-angle-right"></i> 
                                 {% endif %} 
                              </a> 
                                 {% if category.get_children.exists %} 
                                    <ul class="categories_mega_menu"> 
                                       {% for child in category.get_children %} 
                                          <li class="menu_item_children">
                                          <a href="#">{{child.name}}</a>
                                       </li> 
                                       {% endfor %} 
                                    </ul> 
                                 {% endif %}
                           </li> {% endfor %} 
                              {% if categories|length > category_limit %} 
                           <li>
                              <a href="#" id="more-btn">
                                 <i class="fa fa-plus" aria-hidden="true"></i> Еще категории </a>
                           </li> {% endif %} </ul>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="main_menu menu_position text-left">
                     <nav>
                        <ul>
                           <li>
                              <a class="active" href="{% url "home" %}">Главная</a>
                           </li> 
                           <li>
                              <a href="{% url "blog" %}">Блог</a>
                           </li>
                           <li>
                              <a href="index.html#">pages <i class="fa fa-angle-down"></i>
                              </a>
                              <ul class="sub_menu pages">
                                 <li>
                                    <a href="about.html">About Us</a>
                                 </li>
                                 <li>
                                    <a href="faq.html">Frequently Questions</a>
                                 </li>
                                 <li>
                                    <a href="contact.html">contact</a>
                                 </li>
                                 <li>
                                    <a href="login.html">login</a>
                                 </li>
                                 <li>
                                    <a href="404.html">Error 404</a>
                                 </li>
                                 <li>
                                    <a href="compare.html">compare</a>
                                 </li>
                                 <li>
                                    <a href="privacy-policy.html">privacy policy</a>
                                 </li>
                                 <li>
                                    <a href="coming-soon.html">coming soon</a>
                                 </li>
                              </ul>
                           </li>
                           <li>
                              <a href="{% url "about" %}">О нас</a>
                           </li>
                           <li>
                              <a href="{% url "contact" %}">Контакты</a>
                           </li>
                        </ul>
                     </nav>
                  </div>
               </div>
               <div class="col-lg-3">
                  <div class="call_support text-right">
                     <p>
                        <i class="icon-phone-call" aria-hidden="true"></i>
                        <span>Call us: <a href="tel:0123456789">0123456789</a>
                        </span>
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--header bottom end-->
   </div>
</header>
<!--header area end--> {% include "includes/tags.html" %}