<!doctype html>
<html class="no-js" lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{settings.name_site}}</title>
    <meta name="description" content="{{settings.description_site}}">
    <meta name="keywords" content="{{settings.keywords_site}}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>

    {% block content %}
    
    {% endblock content %}

    {% include "layouts/partners.html" %}

    {% include "includes/footer.html" %}

    
    <!-- Plugins JS -->
    <script src="{% static 'assets/js/plugins.js'%}"></script>
    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js'%}"></script>

</body>
</html>